# DataFraes en Pandas

In [1]:
import pandas as pd
import numpy as np

In [3]:
# Los dataframes son un conjunto/tipo de dato , que al contrario que las series que eran unidimensionales, son bidimensional 
# con sus columnas y filas, justo como podría ser una tabla de SQL.
# En este notebook vamos a ver constructores del tipo de dato más usado en pandas: el dataframe.

d = {'col1' : pd.Series([1,2,3,4]), 
     'col2' : pd.Series([4,3,2,1])}
df = pd.DataFrame(d)
print(d, "\n")
print(df)

{'col1': 0    1
1    2
2    3
3    4
dtype: int64, 'col2': 0    4
1    3
2    2
3    1
dtype: int64}

   col1  col2
0     1     4
1     2     3
2     3     2
3     4     1

In [4]:
#También podemos tener un constructor con sin series de pandas e indicarle el indice:

f = {'col1' : [1,2,3,4],
     'col2' : [3,4,5,6]}
datafreim = pd.DataFrame(f, index=['a', 'b', 'c', 'd'])
print(datafreim)

   col1  col2
a     1     3
b     2     4
c     3     5
d     4     6

In [34]:
#Se puede crear a través de valores de la fila en base a unas columnas comunes.
#Todo esto a través de un diccionario de Python.

l = [{'col1' : 1, 'col2' : 3}, {'col1' : 4, 'col2' : 9}, 
     {'col1' : 12, 'col2' : 2}, {'col1' : 3, 'col2' : 7, 'col3' : 15}]
otro_deitafreim = pd.DataFrame(l)
print(otro_deitafreim, "\n")

print(otro_deitafreim['col2'], "\n")#Con esto consultamos una columna concreta al igual que hacíamos con las series
type(otro_deitafreim['col2'])#Podemos observar que cada columna es una serie de pandas.

#Podemos reemplazar los NaN de distintas maneras:

#La primera manera sería establecer 0s:
otro_deitafreim['col3'].fillna(0, inplace=False)

#En segundo lugar podríamos cambiarlo por alguna métrica
#descriptiva de la columna:
otro_deitafreim.fillna(otro_deitafreim['col2'].mean(), inplace=False)#Para que todos los numeros no sean iguales
otro_deitafreim.fillna(otro_deitafreim['col2'].mode()[0], inplace=False)
otro_deitafreim.fillna(otro_deitafreim['col2'].median(), inplace=False)


#Cabe destacar que el inplace indica si queremos(True) una modificación total y permanente con los cambios realizados
#del dataframe o una copia sin afectar al dataframe original(False)

   col1  col2  col3
0     1     3   NaN
1     4     9   NaN
2    12     2   NaN
3     3     7  15.0

0    3
1    9
2    2
3    7
Name: col2, dtype: int64

/var/folders/9q/x3cxwh3x3vz5xbqg35y1cbfh0000gn/T/ipykernel_18689/2292627071.py:24: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  otro_deitafreim.fillna(method = 'bfill', inplace = False)
/var/folders/9q/x3cxwh3x3vz5xbqg35y1cbfh0000gn/T/ipykernel_18689/2292627071.py:25: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  otro_deitafreim.fillna(method = 'ffill', inplace=False)

   col1  col2  col3
0     1     3   NaN
1     4     9   NaN
2    12     2   NaN
3     3     7  15.0

In [ ]:
#Como pandas tiene mucho de numpy, se pueden hacer operaciones gracias a la libreria:

otro_deitafreim['col4'] = otro_deitafreim['col1'] + otro_deitafreim['col2']
print(otro_deitafreim) #Creamos una columna nueva que es resultada de la suma de las dos primeras columnas

   col1  col2  col3  col4
0     1     3   NaN     4
1     4     9   NaN    13
2    12     2   NaN    14
3     3     7  15.0    10

In [16]:
#También podemos eliminar una columna del dataframe:
del otro_deitafreim['col4']
otro_deitafreim

   col1  col2  col3
0     1     3   NaN
1     4     9   NaN
2    12     2   NaN
3     3     7  15.0

In [17]:
# Tenemos un método para insertar columnas que no sea necesariamente
# en el último lugar
otro_deitafreim.insert(0, 'col0', otro_deitafreim['col1'] + otro_deitafreim['col2'])
otro_deitafreim

   col0  col1  col2  col3
0     4     1     3   NaN
1    13     4     9   NaN
2    14    12     2   NaN
3    10     3     7  15.0

In [22]:
#Otra manera sería con el método assign:
otro_deitafreim = otro_deitafreim.assign(col67 = 4)#Establece la columna en la última posición
otro_deitafreim['col0']

0     4
1    13
2    14
3    10
Name: col0, dtype: int64