# Indexado y Selección de datos en DataFrames con Pandas

In [6]:
import numpy as np
import pandas as pd
from pathlib import Path
ruta= Path('Datos_Pruebas/prueba.csv')

In [8]:
dataset = pd.read_csv(ruta, sep=',')
dataset

    age  gender      genre  food  animals
0    20       1     HipHop     1        1
1    23       1     HipHop     1        2
2    25       1     HipHop     1        3
3    26       1       Jazz     2        2
4    29       1       Jazz     2        1
5    30       1       Jazz     2        2
6    31       1  Classical     1        3
7    33       1  Classical     2        2
8    37       1  Classical     2        1
9    20       0      Dance     1        2
10   21       0      Dance     2        3
11   25       0      Dance     2        2
12   26       0   Acoustic     2        1
13   27       0   Acoustic     2        2
14   30       0   Acoustic     1        3
15   31       0  Classical     2        2
16   34       0  Classical     1        1
17   35       0  Classical     1        1

In [ ]:
#Existen una serie de métodos para explorar el dataset:
print(dataset['genre'].value_counts(), "\n")# Este método lo que hace es darnos el número de valores totales 
# en cada valor de la columna indicada, en este caso 'genre'

#Ahora podemos jugar con el indexado booleano, que vimos en NumPy, para crear variables que contengan partes del dataset
# y hacerlo más flexible. En este ejemplo vamos a crear una variable que almacene las filas cuyo género es HipHop.
# Al final es una forma de filtrar por si queremos trabajar con algo en específico
genre_hiphop  = dataset[dataset['genre'] == 'HipHop']
print(genre_hiphop)

genre
Classical    6
HipHop       3
Jazz         3
Dance        3
Acoustic     3
Name: count, dtype: int64

   age  gender   genre  food  animals
0   20       1  HipHop     1        1
1   23       1  HipHop     1        2
2   25       1  HipHop     1        3

In [ ]:
#Se pueden añadir varios filtros/comparaciones:
hiphop_animals = dataset[(dataset['genre'] == 'HipHop') & (dataset['animals'] == 1)]#Cada filtro va entre paréntesis dentro de la
#indexación principal
hiphop_animals

   age  gender   genre  food  animals
0   20       1  HipHop     1        1

In [19]:
#Para consultar por el indice, usamos el metodo loc:
print(dataset.loc[1], "\n") #Me devuelve la fila cuyo índice es = 1 (la segunda fila del dataset)
dataset.iloc[1] #Me devuelve la fila cuya posición es = 1 (la segunda fila del dataset también)
#La diferencia es que a loc hay que pasarle el índice(si fuese un carácter también) y a iloc la posición de la fila

age            23
gender          1
genre      HipHop
food            1
animals         2
Name: 1, dtype: object

age            23
gender          1
genre      HipHop
food            1
animals         2
Name: 1, dtype: object

In [29]:
#Dentro de estos dos métodos podemos usar mas filtros:
print(dataset.loc[12, ['genre', 'gender']], "\n")# De esta manera filtramos por el índice 12 y queremos el género musical y su genero
print(dataset.iloc[12, [2, 1]])

genre     Acoustic
gender           0
Name: 12, dtype: object

genre     Acoustic
gender           0
Name: 12, dtype: object

In [ ]:
# Con el método iat recuperamos los valores indicandole la fila y la columna, casi idéntico al método iloc
dataset.iat[0,0]
dataset.iat[1,0]
#El primer número indica la fila y el segundo la columna
dataset.iat[7,2]

'Classical'

In [46]:
# Ahora vamos a realizar los slicing que vimos en NumPy:
print(dataset.loc[1:3], "\n")#Nos devuelve las filas cuyos indices van del 1 al 3(ambos incluidos)
print(dataset.loc[14:], "\n")#Si no establecemos un final me devuelve desde el número incial hasta el final. Esto al final es una forma
# de devolvernos los x últimos registros
print(dataset.loc[:3],"\n")#Si no establecemos un inicio nos va a devolver desde el principio hasta el numero que hayamos indicado
#Se refiere, principalmente, a una forma de devolvernos los x primeros numeros

   age  gender   genre  food  animals
1   23       1  HipHop     1        2
2   25       1  HipHop     1        3
3   26       1    Jazz     2        2

    age  gender      genre  food  animals
14   30       0   Acoustic     1        3
15   31       0  Classical     2        2
16   34       0  Classical     1        1
17   35       0  Classical     1        1

   age  gender   genre  food  animals
0   20       1  HipHop     1        1
1   23       1  HipHop     1        2
2   25       1  HipHop     1        3
3   26       1    Jazz     2        2

    age  gender      genre  food  animals
13   27       0   Acoustic     2        2
14   30       0   Acoustic     1        3
15   31       0  Classical     2        2
16   34       0  Classical     1        1
17   35       0  Classical     1        1