# Lectura y Escritura de CSVs con Pandas

In [3]:
import numpy as np
import pandas as pd
from pathlib import Path
data_path = Path('Datos_Pruebas/prueba.csv')

In [4]:
#Ahora vamos a realizar la lectura de los datos de los cuales hemos definido su path.
dataset = pd.read_csv(filepath_or_buffer=data_path, sep=',')
dataset.head()#Muestra las primeras 5 líneas del dataset de manera descriptiva
dataset.tail()#Muestra las últimas 5 líneas del dataset de manera descriptiva

    age  gender      genre  food  animals
13   27       0   Acoustic     2        2
14   30       0   Acoustic     1        3
15   31       0  Classical     2        2
16   34       0  Classical     1        1
17   35       0  Classical     1        1

In [5]:
#También podemos leer el dataset por partes, es decir le podemos decir que columnas
#queremos leer:
dataset = pd.read_csv(filepath_or_buffer=data_path, sep=',', usecols=['age', 'gender', 'genre'])
dataset['gender']#Las columnas de un dataframe son siempre series unidimensionales de panda, pero para saber el tipo de dato
#que tiene la serie lo hacemos de esa manera.

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
Name: gender, dtype: int64

In [6]:
#Ahora vamos a leer un archivo json con el método pd.read_json():
ds = pd.read_json('Datos_Pruebas/datos_prueba.json')
ds.head()

  Nombre  Edad     Ciudad
0    Ana    25     Madrid
1   Juan    30  Barcelona
2   Luis    35    Sevilla
3  Maria    28   Valencia

In [7]:
#Ahora vamos a cargar un archivo de tamaño fijo(fwf) con el metodo pd.read_fwf:
colspecs = [(0,8), (8,10), (10,20)]#Aquí especificamos el nº de caracteres/posiciones de cada columna
# En este caso de la posicion 0 a la 8 el nombre, de la 8(no incluyendolo) a la 10(no incluyendolo) la edad 
# y de la 10 a la 20(no incluyendolo) la ciudad
ds_fijo = pd.read_fwf('Datos_Pruebas/datos_prueba_fwf.txt', colspecs=colspecs, names = ['Nombre', 'Edad', 'Ciudad'], header = None)
ds_fijo

  Nombre  Edad     Ciudad
0    Ana    25     Madrid
1   Juan    30  Barcelona
2   Luis    35    Sevilla
3  Maria    28   Valencia

In [14]:
#Ahora vamos a ver la escritura. Vamos a empezar por la escritura en csv:
dataset_to_write = dataset.head(10)
dataset_to_write.to_csv('Datos_Pruebas/dataset_to_write.csv', index=False, sep='#', header=True)
# Lo primero que escribimos es la ruta donde queremos que se encuentre el csv, luego si queremos volcal el indice
# después el separados de este archivo csv y por último si queremos volcar la cabecera.

In [21]:
#Ahora lo hacemos con el formato json:
dataset_to_write.to_json('Datos_Pruebas/dataset_to_write.json', orient='index')

In [26]:
#Por último en formato parquet:
!pip install pyarrow

Requirement already satisfied: pyarrow in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (19.0.0)

[notice] A new release of pip available: 22.2.2 -> 25.0
[notice] To update, run: pip install --upgrade pip

In [ ]:
dataset_to_write.to_parquet('Datos_Pruebas/dataset_to_write.parquet',  engine= 'pyarrow')